.star-falls {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  &__background {
    background-image: url('../images/star-falls/background.png');
    height: 600px;
    
  }
}